<!DOCTYPE html>
<html lang="en">

<head id="landing">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Buy Singal Investor Relations">
    <meta name="author" content="Buy Signal">
    <title>InvestorRelations</title>
    <link type="text/css" href="static/css/base.css" rel="stylesheet">
    <link href="static/img/favicon.ico" rel="icon">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.10/pako.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/react@16/umd/react.development.js"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js"
        integrity="sha256-hDU1pRrmRAcQQgrQqLnXkmix6iw43smaA5KgxJBjG6o=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"
			integrity="sha256-AJvwDTgx+2JZWtsg4XDtKI2KFXST+2AosYiLBYde2PM=" crossorigin="anonymous"></script>
    <link type="text/css"
        href="https://buy-signal-invre-seoul.s3.ap-northeast-2.amazonaws.com/static/css/video-react.css"
        rel="stylesheet" />
</head>

<body>
    <div id="stage"></div>
    <script type="text/javascript" src="static/dist/invre.js"></script>
</body>

</html>
